* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  height: 50px;
  background-color: #ff9a4b;
}

.content-box {
  width:960px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.content-item {
  width: 300px;
  background-color: #EEEEEE;
  padding: 10px;
  position: relative;
}

.content-item span {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ff9a4b;
  color: #FFF;
}

.image1 {
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
  height: 150px
}

.image2 {
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
  height: 150px
}

.image3 {
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
  height: 150px
}

.content-item h3 {
  padding: 15px 0 5px 0;
}

.bottom {
  height: 50px;
  background-color: #AAA;
}

@media screen and (max-width:768px) {
  .content-box {
    width: 100%;
    display: block;
  }

  .content-item {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .content-item:last-child {
    margin-bottom: 0;
  }
}